li {
    list-style-type: none;
    padding: 10px;
}

.title {
    text-align: center;
    padding: 5px;
}

#btn {
    margin: 15px;
}

.orderDetails {
    padding-inline-start: 0px;
    margin: 10px;
}

.orderContainer {
    padding: 10px;
}

.beverageName {
    background-color:rgb(255, 255, 255);
    padding: 10px;
}

.customerName {
    padding: 10px;
}
