.orderStage {
    background-color:aliceblue;
    align-content: center;
    margin: 10px;
}

li {
    align-content: center;
}

.orderDiv {
    background-color:rgb(199, 213, 225);
    align-content: center;
    text-align: center;
    margin: 10px;
}