li a{
    display: block;
    padding: 15px;
    color: brown;
}
li {
    float: left;
}
ul {
    list-style-type: none;
    background-color: bisque;
    overflow: hidden;
    margin: 0;
    padding: 0;
}